In [3]:
import praw
import pandas as pd
from datetime import datetime

SECRET = "fDTjgQd2sS6gmVrqm7IcPPhp05NHXg"
APP_ID = "KGv2MMUcdlqidiWTIP4YPA"

reddit = praw.Reddit(
        client_id=APP_ID,
        client_secret=SECRET,
        user_agent="Comment Extraction")

search_query = "iPhone"
max_comments = 1000

comment_bodies = []
comment_authors = []
comment_upvotes = []
comment_awards = []
comment_dates = []

start_date = datetime(2022, 1, 1)
end_date = datetime(2023, 11, 2)

for submission in reddit.subreddit("all").search(search_query, limit=max_comments):
    submission.comments.replace_more(limit=0)
    for comment in submission.comments:
        if comment.is_root:
            comment_date = datetime.utcfromtimestamp(comment.created_utc)
            if start_date <= comment_date <= end_date:
                comment_bodies.append(comment.body)
                comment_authors.append(comment.author.name if comment.author else "[deleted]")
                comment_upvotes.append(comment.score)
                comment_awards.append(comment.total_awards_received)
                comment_dates.append(comment_date)

data = {
    "Comment_Body": comment_bodies,
    "Author": comment_authors,
    "Upvotes": comment_upvotes,
    "Awards": comment_awards,
    "Date": comment_dates,
}

temp_df = pd.DataFrame(data)

temp_df = temp_df[temp_df['Author'] != 'AutoModerator']
temp_df = temp_df[temp_df['Comment_Body'] != '[deleted]']
temp_df = temp_df[~temp_df['Comment_Body'].str.contains(r'\[Banned for overrating\]', case=False)]
temp_df = temp_df[~temp_df['Comment_Body'].str.contains(r'\br/\w+', case=False)]
temp_df = temp_df[temp_df['Comment_Body'].str.contains("iPhone", case=False)]
temp_df = temp_df.dropna(subset=['Comment_Body'])
temp_df['Search'] = 'iPhone'
df = pd.concat([df, temp_df], ignore_index=True)
df = df.dropna(subset=['Comment_Body']).drop_duplicates(subset=['Comment_Body'])
df.to_csv('reddit_comments.csv', index=False)


df

,Comment_Body,Author,Upvotes,Awards,Date,Search
0,Funny how Argentina isn't even on the list bec...,Yearlaren,3962,0,2022-09-12 15:32:23,NaN
1,"And just to add salt to the wound, iPhone in P...",pole_verme,1813,0,2022-09-12 13:38:00,NaN
2,I read a article saying that it was cheaper to...,_karma_bitch,1649,0,2022-09-12 13:36:33,NaN
3,As a person that lived in the third world for ...,Momovsky,2851,0,2022-09-12 12:40:50,NaN
4,"Norwegian here. Number seems fairly accurate, ...",soffagrisen2,181,0,2022-09-12 14:55:45,NaN
...,...,...,...,...,...,...
8424,I never really understood the insistence on iP...,wpascarelli,4,0,2022-10-05 12:46:16,iPhone
8425,I’m completely against a country dictating to ...,MPQuietSe7en,-3,0,2022-10-05 13:23:39,iPhone
8426,Apple must change iPhone charging port to USB-...,chesbyiii,-3,0,2022-10-05 14:06:12,iPhone
8427,Apple can easily skirt this if they wanted.\n\...,WarmAppleCobbler,1,0,2022-10-05 20:34:23,iPhone
8428,Tbh iPhone kinda shit,vulpix_furry_butt2,1,0,2022-11-16 12:12:26,iPhone

In [5]:
import praw
import pandas as pd
from datetime import datetime

SECRET = "fDTjgQd2sS6gmVrqm7IcPPhp05NHXg"
APP_ID = "KGv2MMUcdlqidiWTIP4YPA"

reddit = praw.Reddit(
        client_id=APP_ID,
        client_secret=SECRET,
        user_agent="Comment Extraction")

search_query = "Macbook"
max_comments = 1000

comment_bodies = []
comment_authors = []
comment_upvotes = []
comment_awards = []
comment_dates = []

start_date = datetime(2022, 1, 1)
end_date = datetime(2023, 11, 2)

for submission in reddit.subreddit("all").search(search_query, limit=max_comments):
    submission.comments.replace_more(limit=0)
    for comment in submission.comments:
        if comment.is_root:
            comment_date = datetime.utcfromtimestamp(comment.created_utc)
            if start_date <= comment_date <= end_date:
                comment_bodies.append(comment.body)
                comment_authors.append(comment.author.name if comment.author else "[deleted]")
                comment_upvotes.append(comment.score)
                comment_awards.append(comment.total_awards_received)
                comment_dates.append(comment_date)

data = {
    "Comment_Body": comment_bodies,
    "Author": comment_authors,
    "Upvotes": comment_upvotes,
    "Awards": comment_awards,
    "Date": comment_dates,
}

temp_df = pd.DataFrame(data)

temp_df = temp_df[temp_df['Author'] != 'AutoModerator']
temp_df = temp_df[temp_df['Comment_Body'] != '[deleted]']
temp_df = temp_df[~temp_df['Comment_Body'].str.contains(r'\[Banned for overrating\]', case=False)]
temp_df = temp_df[~temp_df['Comment_Body'].str.contains(r'\br/\w+', case=False)]
temp_df = temp_df[temp_df['Comment_Body'].str.contains("Macbook", case=False)]
temp_df = temp_df.dropna(subset=['Comment_Body'])
temp_df['Search'] = 'Macbook'
df = pd.concat([df, temp_df], ignore_index=True)
df = df.dropna(subset=['Comment_Body']).drop_duplicates(subset=['Comment_Body'])
df.to_csv('reddit_comments.csv', index=False)


df

,Comment_Body,Author,Upvotes,Awards,Date,Search
0,Funny how Argentina isn't even on the list bec...,Yearlaren,3962,0,2022-09-12 15:32:23,NaN
1,"And just to add salt to the wound, iPhone in P...",pole_verme,1813,0,2022-09-12 13:38:00,NaN
2,I read a article saying that it was cheaper to...,_karma_bitch,1649,0,2022-09-12 13:36:33,NaN
3,As a person that lived in the third world for ...,Momovsky,2851,0,2022-09-12 12:40:50,NaN
4,"Norwegian here. Number seems fairly accurate, ...",soffagrisen2,181,0,2022-09-12 14:55:45,NaN
...,...,...,...,...,...,...
8816,I got my wife a new MacBook Air M2 and she kee...,LazaroFilm,1,0,2023-01-14 00:23:18,Macbook
8817,Just upgraded from my 2015 MacBook Pro. Repres...,kinetokkin,1,0,2023-01-14 12:31:55,Macbook
8818,Me 2!! I had a 2012 retina before my new M1 Pr...,Recognition_Round,1,0,2023-01-14 12:44:01,Macbook
8819,Same here! 2014 15 inch MacBook Pro -> M1 16Gb...,RandomMishaps,1,0,2023-01-14 13:09:51,Macbook
8820,Im still using a 2015 macbook pro and i hate it,snacks4ever,2,0,2023-10-23 07:13:48,Macbook

In [6]:
import praw
import pandas as pd
from datetime import datetime

SECRET = "fDTjgQd2sS6gmVrqm7IcPPhp05NHXg"
APP_ID = "KGv2MMUcdlqidiWTIP4YPA"

reddit = praw.Reddit(
        client_id=APP_ID,
        client_secret=SECRET,
        user_agent="Comment Extraction")

search_query = "iPad"
max_comments = 1000

comment_bodies = []
comment_authors = []
comment_upvotes = []
comment_awards = []
comment_dates = []

start_date = datetime(2022, 1, 1)
end_date = datetime(2023, 11, 2)

for submission in reddit.subreddit("all").search(search_query, limit=max_comments):
    submission.comments.replace_more(limit=0)
    for comment in submission.comments:
        if comment.is_root:
            comment_date = datetime.utcfromtimestamp(comment.created_utc)
            if start_date <= comment_date <= end_date:
                comment_bodies.append(comment.body)
                comment_authors.append(comment.author.name if comment.author else "[deleted]")
                comment_upvotes.append(comment.score)
                comment_awards.append(comment.total_awards_received)
                comment_dates.append(comment_date)

data = {
    "Comment_Body": comment_bodies,
    "Author": comment_authors,
    "Upvotes": comment_upvotes,
    "Awards": comment_awards,
    "Date": comment_dates,
}

temp_df = pd.DataFrame(data)

temp_df = temp_df[temp_df['Author'] != 'AutoModerator']
temp_df = temp_df[temp_df['Comment_Body'] != '[deleted]']
temp_df = temp_df[~temp_df['Comment_Body'].str.contains(r'\[Banned for overrating\]', case=False)]
temp_df = temp_df[~temp_df['Comment_Body'].str.contains(r'\br/\w+', case=False)]
temp_df = temp_df[temp_df['Comment_Body'].str.contains("iPad", case=False)]
temp_df = temp_df.dropna(subset=['Comment_Body'])
temp_df['Search'] = 'iPad'
df = pd.concat([df, temp_df], ignore_index=True)
df = df.dropna(subset=['Comment_Body']).drop_duplicates(subset=['Comment_Body'])
df.to_csv('reddit_comments.csv', index=False)


df

,Comment_Body,Author,Upvotes,Awards,Date,Search
0,Funny how Argentina isn't even on the list bec...,Yearlaren,3962,0,2022-09-12 15:32:23,NaN
1,"And just to add salt to the wound, iPhone in P...",pole_verme,1813,0,2022-09-12 13:38:00,NaN
2,I read a article saying that it was cheaper to...,_karma_bitch,1649,0,2022-09-12 13:36:33,NaN
3,As a person that lived in the third world for ...,Momovsky,2851,0,2022-09-12 12:40:50,NaN
4,"Norwegian here. Number seems fairly accurate, ...",soffagrisen2,181,0,2022-09-12 14:55:45,NaN
...,...,...,...,...,...,...
12198,What the hell? I’m using the iPad app…,Samness45,-6,0,2022-09-09 11:14:13,iPad
12199,Omg an iPad app??? No more blocked images when...,SlackLifesentence,1,0,2022-09-09 14:02:33,iPad
12200,"As amazing as the iPhone app is, the iPad app ...",__BIOHAZARD___,1,0,2022-09-09 14:15:54,iPad
12201,There was me thinking this was the iPad app. I...,Beena22,1,0,2022-09-09 19:24:40,iPad
12202,Is the ipad app really that bad?,milesbeats,1,0,2022-09-09 22:08:45,iPad

In [7]:
import praw
import pandas as pd
from datetime import datetime

SECRET = "fDTjgQd2sS6gmVrqm7IcPPhp05NHXg"
APP_ID = "KGv2MMUcdlqidiWTIP4YPA"

reddit = praw.Reddit(
        client_id=APP_ID,
        client_secret=SECRET,
        user_agent="Comment Extraction")

search_query = "AirPods"
max_comments = 1000

comment_bodies = []
comment_authors = []
comment_upvotes = []
comment_awards = []
comment_dates = []

start_date = datetime(2022, 1, 1)
end_date = datetime(2023, 11, 2)

for submission in reddit.subreddit("all").search(search_query, limit=max_comments):
    submission.comments.replace_more(limit=0)
    for comment in submission.comments:
        if comment.is_root:
            comment_date = datetime.utcfromtimestamp(comment.created_utc)
            if start_date <= comment_date <= end_date:
                comment_bodies.append(comment.body)
                comment_authors.append(comment.author.name if comment.author else "[deleted]")
                comment_upvotes.append(comment.score)
                comment_awards.append(comment.total_awards_received)
                comment_dates.append(comment_date)

data = {
    "Comment_Body": comment_bodies,
    "Author": comment_authors,
    "Upvotes": comment_upvotes,
    "Awards": comment_awards,
    "Date": comment_dates,
}

temp_df = pd.DataFrame(data)

temp_df = temp_df[temp_df['Author'] != 'AutoModerator']
temp_df = temp_df[temp_df['Comment_Body'] != '[deleted]']
temp_df = temp_df[~temp_df['Comment_Body'].str.contains(r'\[Banned for overrating\]', case=False)]
temp_df = temp_df[~temp_df['Comment_Body'].str.contains(r'\br/\w+', case=False)]
temp_df = temp_df[temp_df['Comment_Body'].str.contains("AirPods", case=False)]
temp_df = temp_df.dropna(subset=['Comment_Body'])
temp_df['Search'] = 'AirPods'
df = pd.concat([df, temp_df], ignore_index=True)
df = df.dropna(subset=['Comment_Body']).drop_duplicates(subset=['Comment_Body'])
df.to_csv('reddit_comments.csv', index=False)


df

,Comment_Body,Author,Upvotes,Awards,Date,Search
0,Funny how Argentina isn't even on the list bec...,Yearlaren,3962,0,2022-09-12 15:32:23,NaN
1,"And just to add salt to the wound, iPhone in P...",pole_verme,1813,0,2022-09-12 13:38:00,NaN
2,I read a article saying that it was cheaper to...,_karma_bitch,1649,0,2022-09-12 13:36:33,NaN
3,As a person that lived in the third world for ...,Momovsky,2851,0,2022-09-12 12:40:50,NaN
4,"Norwegian here. Number seems fairly accurate, ...",soffagrisen2,181,0,2022-09-12 14:55:45,NaN
...,...,...,...,...,...,...
13667,"Amazon LP won’t do anything, AirPods are not a...",GateKeeperJim,-2,0,2023-10-26 07:00:55,AirPods
13668,Fam I lost an AirPod and walked downstairs and...,Baron-Zsasz,1,0,2023-10-26 16:52:34,AirPods
13669,They were left unattended idk about stolen. Sa...,Jankylee-Ad-4453,1,0,2023-10-27 19:29:54,AirPods
13670,I remember when my dog snatched one of my AirP...,FartzOnYaGyal,63,0,2023-03-19 19:41:36,AirPods
13671,My puppy did this ate both AirPods and case I ...,brinicole323,3,0,2023-03-19 23:01:15,AirPods

In [8]:
import praw
import pandas as pd
from datetime import datetime

SECRET = "fDTjgQd2sS6gmVrqm7IcPPhp05NHXg"
APP_ID = "KGv2MMUcdlqidiWTIP4YPA"

reddit = praw.Reddit(
        client_id=APP_ID,
        client_secret=SECRET,
        user_agent="Comment Extraction")

search_query = "Apple Watch"
max_comments = 1000

comment_bodies = []
comment_authors = []
comment_upvotes = []
comment_awards = []
comment_dates = []

start_date = datetime(2022, 1, 1)
end_date = datetime(2023, 11, 2)

for submission in reddit.subreddit("all").search(search_query, limit=max_comments):
    submission.comments.replace_more(limit=0)
    for comment in submission.comments:
        if comment.is_root:
            comment_date = datetime.utcfromtimestamp(comment.created_utc)
            if start_date <= comment_date <= end_date:
                comment_bodies.append(comment.body)
                comment_authors.append(comment.author.name if comment.author else "[deleted]")
                comment_upvotes.append(comment.score)
                comment_awards.append(comment.total_awards_received)
                comment_dates.append(comment_date)

data = {
    "Comment_Body": comment_bodies,
    "Author": comment_authors,
    "Upvotes": comment_upvotes,
    "Awards": comment_awards,
    "Date": comment_dates,
}

temp_df = pd.DataFrame(data)

temp_df = temp_df[temp_df['Author'] != 'AutoModerator']
temp_df = temp_df[temp_df['Comment_Body'] != '[deleted]']
temp_df = temp_df[~temp_df['Comment_Body'].str.contains(r'\[Banned for overrating\]', case=False)]
temp_df = temp_df[~temp_df['Comment_Body'].str.contains(r'\br/\w+', case=False)]
temp_df = temp_df[temp_df['Comment_Body'].str.contains("Watch", case=False)]
temp_df = temp_df.dropna(subset=['Comment_Body'])
temp_df['Search'] = 'Apple Watch'
df = pd.concat([df, temp_df], ignore_index=True)
df = df.dropna(subset=['Comment_Body']).drop_duplicates(subset=['Comment_Body'])
df.to_csv('reddit_comments.csv', index=False)


df

,Comment_Body,Author,Upvotes,Awards,Date,Search
0,Funny how Argentina isn't even on the list bec...,Yearlaren,3962,0,2022-09-12 15:32:23,NaN
1,"And just to add salt to the wound, iPhone in P...",pole_verme,1813,0,2022-09-12 13:38:00,NaN
2,I read a article saying that it was cheaper to...,_karma_bitch,1649,0,2022-09-12 13:36:33,NaN
3,As a person that lived in the third world for ...,Momovsky,2851,0,2022-09-12 12:40:50,NaN
4,"Norwegian here. Number seems fairly accurate, ...",soffagrisen2,181,0,2022-09-12 14:55:45,NaN
...,...,...,...,...,...,...
18221,Masimo... the company charging Apple watch pri...,ajphx,272,0,2023-10-27 13:58:24,Apple Watch
18222,and the lawsuit will last longer than that app...,CyberAsura,0,0,2023-10-27 17:17:14,Apple Watch
18223,Wouldn’t masimo want apple to continue to sell...,tonyocampo,0,0,2023-10-27 23:18:38,Apple Watch
18224,It's the most successful smart watch Apple wil...,baronvondanger,1,0,2023-10-28 03:10:25,Apple Watch
18225,"So if they win, does this mean you'll have to ...",LathropWolf,1,0,2023-10-28 06:19:34,Apple Watch

In [10]:
df.Search.value_counts()

iPhone         7367
Apple Watch    4551
iPad           3382
AirPods        1467
Macbook        1451
Name: Search, dtype: int64

In [ ]:
Mac
iPhone
iPad
AirPods
Watch